h2{margin:0 0 0.5em; font-size:16px; font-weight:bold}
#conash3D0{display:none !important}
a img{border:none; outline:none}
body{font:normal 15px Arial, Helvetica, sans-serif}
.email-link{color:#fff; text-decoration:none}
.email-link:hover{text-decoration:underline}
p{margin:0; padding:0; color:#fff}

#scrollbar {
    background: #f5accc;
    cursor: pointer;
    width: 100px;
    height: 15px;
    position: absolute;
    top: 96px;
    left: 0;
}

.slide-category{position:absolute; top:5px; cursor:pointer}
#slide-container{height:90px; width:100%; position:relative; overflow:hidden}
.container-inner {
    position: relative;
}

.callouts {
    margin: 50px 0 30px;
}

.callout {
    display:block;
    margin-bottom: 15px;
    padding:10px;
    background:#f8bfd8;
    font-size:14px;
    font-style:italic;
    line-height:1.3em;
    text-decoration:none;
}
.callout *{color:#c75486}
.callout:hover{
    background:#facde2;
    box-shadow:     0 1px 3px #b57290;
    -moz-box-shadow:0 1px 3px #b57290;
}
.callout:active{
    position:relative;
    top:2px;
    box-shadow:     0 1px 2px #b57290;
    -moz-box-shadow:0 1px 2px #b57290;
}

.category-container {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    font-size: 0;
}

.h-spacer {
    width: 9999px;
}

.h-list {
    margin: 0;
    padding: 0;
}

.h-list-category {
    display: inline-block;
}

.h-list > li {
    list-style: none;
    display: block;
    float: left;
    padding-right: 30px;
}

.post-image {
    max-height: 100%;
}